# Device specific
SYSTEM=mmcblk0p38
USERDATA=mmcblk0p40
CACHE=mmcblk0p36
BOOT=mmcblk0p33
SYSTEM_FSTYPE=ext4
USERDATA_FSTYPE=f2fs
SS_FSTYPE=f2fs
SS_PART=mmcblk0p40
SS_DIR=/ss/safestrap
HIJACK_BIN=logwrapper
HIJACK_LOC=bin
BOOTMODE_PROP=ro.bootmode
DEVICE_PROP=ro.product.device
CHARGER_MODE_SYSFS=/sys/class/power_supply/pm8921-dc/online
CHECK_BOOTMODE=bp-tools
CHECK_POWERUP_REASON=/sbin/bbx cat /proc/bootinfo | /sbin/bbx grep POWERUPREASON | /sbin/bbx cut -c 24-24
POWERUP_REASON_CHARGER=1
BACKLIGHT_BRIGHTNESS_PATH=/sys/class/backlight/lcd-backlight/brightness
BACKLIGHT_BRIGHTNESS_VALUE=200
TASKSET_CPUS=0-3
SS_USE_DATAMEDIA=1

