import /init.recovery.${ro.hardware}.rc

on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard-ext

    exec /sbin/taskset -p -c 0,1 1

    symlink /system/etc /etc

    mkdir /boot
    mkdir /recovery
    mkdir /sdcard-ext
    mkdir /sdcard
    mkdir /internal_sd
    mkdir /external_sd
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /systemorig
    mount /tmp /tmp tmpfs

    chown root shell /tmp
    chmod 0777 /tmp

    mkdir /tmp/trace 0777 root root

#battd
    mkdir /tmp/tbattd 0777 root mot_accy
    mkdir /tmp/data 0777 root mot_accy
    mkdir /tmp/data/battd 0777 root mot_accy
    chmod 0666 /dev/cpcap
    chmod 0666 /dev/cpcap_batt
    chmod 0666 /dev/cpcap_mot_rtc
    chmod 0666 /dev/cpcap_uc

    write /sys/bus/usb/devices/usb1/power/control on
    write /sys/bus/usb/devices/usb2/power/control on
    write /sys/bus/usb/devices/usb3/power/control on

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct 4366
    write /sys/module/g_android/parameters/cdrom 0
    write /sys/module/g_android/parameters/cdrom_switch 0
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}


on boot
    exec /sbin/fixboot-twrp.sh

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service battd /sbin/battd
    socket battdsock stream 0666 mot_accy mot_accy
    user root
    group mot_accy mot_pwric
    oneshot

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    #write /sys/class/android_usb/android0/enable 1
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
